@import "./src/styles";

.landing-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  font-family: $font;
  background-color: $bg-overlay;

  .titel {
    font-size: 10em;
    position: relative;
    top: 20%;

    mat-icon {
      font-size: 1em;
      width: 1em;
    }
  }

  .create-button {
    position: relative;
    top: 30%;
    button {
      zoom: 2;
    }
  }
}
