@import "./src/styles";

.create-container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  font-family: $font;
  background-color: $bg-overlay;
  padding: 40px 0;

  h1 {
    font-size: 4em;
    margin: 30px;
  }
  .data-container {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 15px;
    padding: 20px;
    color: #fff;

    .copy-url-field {
      padding: 25px 0;
      font-size: 1.2em;
      width: 100%;
    }

    .participants-container {
      width: 80%;
      margin: 15px 10%;
      font-size: 1.5em;

      .par-name-list {
        font-size: 0.8em;
        margin: 15px;
        white-space: nowrap;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
      }
    }

    .results-label {
      font-size: 1.5em;
      width: 80%;
      margin: 30px 10% 10px 10%;
    }

    .data-table-container {
      width: 80%;
      margin: 15px 10%;

      table {
        width: 100%;
      }

      tr.example-detail-row {
        height: 0;
      }

      tr.example-element-row:not(.example-expanded-row):hover {
        background: whitesmoke;
      }

      tr.example-element-row:not(.example-expanded-row):active {
        background: #efefef;
      }

      .example-element-row td {
        border-bottom-width: 0;
      }

      .example-element-detail {
        overflow: hidden;
        display: flex;

        .persons-list {
          margin: 15px 10px;
          white-space: nowrap;
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;
        }
      }
    }

    .persons-list-element {
      margin: 3px 5px;
      padding: 5px 9px;
      border-radius: 8px;
      box-shadow: 2px 2px 2px #000;
      background-color: #c2185b;
      max-width: 90px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
