@import "./src/styles";

.create-container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  font-family: $font;
  background-color: $bg-overlay;
  padding: 40px 0;

  h1 {
    font-size: 4em;
    margin: 30px;
    text-align: center;
    line-height: 1em;
  }
  .data-container {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 15px;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;

    .description {
      width: 100%;
    }

    .name-input {
      font-size: 1.2em;
      width: calc(100% - 10px);
      margin: 10px 5px;
    }

    .send-button-container {
      margin: 10px 10px 5px 10px;
    }

    .list-option-container {
      display: flex;
      flex-flow: row;

      .voted {
        margin-right: 5px;
        width: 30px;
        .votes-label {
          bottom: 0;
          position: absolute;
          text-align: center;
          font-size: 0.6em;
          left: 9px;
        }
      }
    }

    .divider {
      margin: 5px 0;
      width: 100%;
    }
  }
}

@media screen and (max-width: $media-breakpoint-small) {
  .create-container {
    padding: 0 0 20px 0;

    h1 {
      margin: 110px 0 30px 0;
    }

    .data-container {
      width: 85%;
    }
  }
}
