@import "./src/styles";

.hide {
  visibility: hidden;
  height: 0 !important;
}

.show {
  visibility: visible;
}

.create-container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  font-family: $font;
  background-color: $bg-overlay;
  padding: 40px 0;

  h1 {
    font-size: 4em;
    margin: 30px;
  }
  .settings-container {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 15px;
    padding: 20px;
    color: #fff;

    .textfield {
      display: flex;
      flex-flow: column;
      padding: 5px 6px;
      font-size: 1.5em;
    }

    .select-mode-container {
      display: flex;
      flex-flow: column;
      align-items: center;
      align-content: center;
    }
    .select-list-container {
      width: calc(100% - 30px);
      padding: 7px 10px;
      border-radius: 11px;
      border: 0;
      margin: 0 5px;

      .datepicker-container {
        height: 500px;
      }

      .text-mode-container {
        width: 100%;
        font-size: 1em;

        .full-width {
          width: 100%;
        }
      }
    }

    .toggle-view {
      font-size: 1.5em;
      margin: 15px;
      display: flex;
      flex-flow: column;
      align-items: center;
      align-content: center;
    }

    .create-button-container {
      padding: 5px;
      display: flex;
      flex-flow: column;
      align-items: center;
      align-content: center;
    }
  }
}
