<div class="create-container">
<app-sidenav></app-sidenav>
<app-logo></app-logo>
  <h1>Create Poll</h1>

  <div class="settings-container">
    <div class="titel-container textfield">
      <mat-form-field class="full-width">
        <mat-label>Titel</mat-label>
        <input
          matInput
          [formControl]="titelFormControl"
          placeholder="Titel of the Poll"
          [(ngModel)]="titel"
        />
        <mat-error *ngIf="titelFormControl.hasError('required')">
          Titel is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="description-container textfield">
      <mat-form-field class="full-width">
        <mat-label>Description: (optional)</mat-label>
        <textarea matInput [(ngModel)]="description"></textarea>
      </mat-form-field>
    </div>

    <div class="email-container textfield">
      <mat-form-field class="full-width">
        <mat-label>Email: (opional)</mat-label>
        <input matInput [formControl]="emailFormControl" placeholder="Your Email" [(ngModel)]="email" />
        <mat-error *ngIf="emailFormControl.hasError('email')">
          Email is invalid
        </mat-error>
      </mat-form-field>
    </div>

    <div class="select-mode-container">
      <!--<div class="select-mode">-->
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle (click)="selectedMode = 'Date'"
          >Date</mat-button-toggle
        >
        <mat-button-toggle (click)="selectedMode = 'Text'"
          >Text</mat-button-toggle
        >
      </mat-button-toggle-group>
      <!--<button (click)="selectedMode = 'Date'" class="Date">Date</button>
        <button (click)="selectedMode = 'Text'" class="text">Text</button>-->
    </div>
    <div *ngIf="selectedMode != 'None'" class="select-list-container">
      <div
        #datePickerContainer
        class="datepicker-container"
        [ngClass]="{
          show: selectedMode == 'Date',
          hide: selectedMode != 'Date'
        }"
      ></div>
      <div class="text-mode-container" *ngIf="selectedMode == 'Text'">
        <div *ngFor="let optionItem of optionsList; let index = index">
          <mat-form-field class="full-width">
            <mat-label>Option</mat-label>
            <input
              matInput
              placeholder="An Option..."
              [(ngModel)]="optionsList[index].entrydata"
            />
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="removeOption(index)"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <button mat-raised-button color="accent" (click)="addOption()">
          + Add Option
        </button>
      </div>
    </div>
    <div class="toggle-view">
    <mat-slide-toggle color="primary" [(ngModel)]="votesVisible">Let participants view results</mat-slide-toggle>
    </div>
    <div class="create-button-container">
      <button mat-raised-button color="primary" (click)="createPoll()">
        Create Poll
      </button>
    </div>
  </div>
</div>
